body {
	background-color: rgba(170, 170, 242, 0);
   	transform: scale(.72);
   	transform-origin: 50% -5%;
}

h1 {
	text-align: center;
}

.spacer {
	margin-top: 40px;
}

/* 1.5-column offset */

.col-xs-custom-offset,
.col-sm-custom-offset,
.col-md-custom-offset,
.col-lg-custom-offset {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-custom-offset {
    width: 12.5%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-custom-offset {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-custom-offset {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-custom-offset {
        width: 12.5%;
        float: left;
    }
}