{% extends 'base.jinja' %}

{% block content %}

<h3><strong>How many MBTA vehicles are running in Boston right now?</strong></h4>	

<br /> 

<div class='container-fluid'>

	<div class='first row'>
		<div class='col-lg-custom-offset col-md-custom-offset col-sm-custom-offset'></div>
		<div class='col-lg-3 col-md-3 col-sm-3'>
			<div id="Red Line" class='col-lg-12 col-md-12 col-sm-12 col-xs-12 padded'>
				<div class='red block'> </div>
				<h4> Red Line </h4>
				<span id='Red Line_trips' class='big'>{{ trips["Red Line"] }}</span>
				<h6> ({{ avg_num_trips["Red Line"] }}) </h6>
			</div>
			<div class='visible-xs-block'>&nbsp;</div>
		</div>
		<div class='col-lg-3 col-md-3 col-sm-3'>
			<div id="Orange Line" class='col-lg-12 col-md-12 col-sm-12 col-xs-12 padded'>
				<div class='orange block'> </div>
				<h4> Orange Line </h4>
				<span id='Orange Line_trips' class='big'>{{ trips["Orange Line"] }}</span>
				<h6> ({{ avg_num_trips["Orange Line"] }}) </h6>
			</div>
			<div class='visible-xs-block'>&nbsp;</div>
		</div>
		<div class='col-lg-3 col-md-3 col-sm-3'>
			<div id="Blue Line" class='col-lg-12 col-md-12 col-sm-12 col-xs-12 padded'>
				<div class='blue block'> </div>
				<h4> Blue Line </h4>
				<span id='Blue Line_trips' class='big'>{{ trips["Blue Line"] }}</span>
				<h6> ({{ avg_num_trips["Blue Line"] }}) </h6>
			</div>
			<div class='visible-xs-block'>&nbsp;</div>
		</div>
	</div>

	<div class='spacer'></div>

	<div id='Red Line_reveal' class='plotly' style='display: none; width: 1080px; height: 400px;'> </div>

	<div id='Orange Line_reveal' class='plotly' style='display: none; width: 1080px; height: 400px;'> </div>

	<div id='Blue Line_reveal' class='plotly' style='display: none; width: 1080px; height: 400px;'> </div>

	<div class='row'>
		<div class='col-lg-3 col-md-3 col-sm-3'>
			<div id='Green Line B' class='col-lg-12 col-md-12 col-sm-12 col-xs-12 padded'>
				<div class='green block'> </div>
				<h4> Green Line B </h4>
				<span id='Green Line B_trips' class='big'> {{ trips['Green Line B'] }} </span>
				<h6> ({{ avg_num_trips["Green Line B"] }}) </h6>
			</div>
			<div class='visible-xs-block'>&nbsp;</div>
		</div>
		<div class='col-lg-3 col-md-3 col-sm-3'>
			<div id='Green Line C' class='col-lg-12 col-md-12 col-sm-12 col-xs-12 padded'>
				<div class='green block'> </div>
				<h4> Green Line C </h4>
				<span id='Green Line C_trips' class='big'> {{ trips['Green Line C'] }} </span>
				<h6> ({{ avg_num_trips["Green Line C"] }}) </h6>
			</div>
			<div class='visible-xs-block'>&nbsp;</div>
		</div>
		<div class='col-lg-3 col-md-3 col-sm-3'>
			<div id='Green Line D' class='col-lg-12 col-md-12 col-sm-12 col-xs-12 padded'>
				<div class='green block'> </div>
				<h4> Green Line D </h4>
				<span id='Green Line D_trips' class='big'> {{ trips['Green Line D'] }} </span>
				<h6> ({{ avg_num_trips["Green Line D"] }}) </h6>
			</div>
			<div class='visible-xs-block'>&nbsp;</div>
		</div>
		<div class='col-lg-3 col-md-3 col-sm-3'>
			<div id='Green Line E' class='col-lg-12 col-md-12 col-sm-12 col-xs-12 padded'>
				<div class='green block'> </div>
				<h4> Green Line E </h4>
				<span id='Green Line E_trips' class='big'> {{ trips['Green Line E'] }} </span>
				<h6> ({{ avg_num_trips["Green Line E"] }}) </h6>
			</div>
			<div class='visible-xs-block'>&nbsp;</div>
		</div>
	</div>

	<div class='spacer'></div>

	<div id='Green Line B_reveal' class='plotly' style='display: none; width: 1080px; height: 400px;'> </div>

	<div id='Green Line C_reveal' class='plotly' style='display: none; width: 1080px; height: 400px;'> </div>

	<div id='Green Line D_reveal' class='plotly' style='display: none; width: 1080px; height: 400px;'> </div>

	<div id='Green Line E_reveal' class='plotly' style='display: none; width: 1080px; height: 400px;'> </div>

	<div class='row'>
		<div class='col-lg-3 col-md-3 col-sm-3'>
			<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 padded'>
				<div id='Silver Line SL1' class='silver block'> </div>
				<h4> Silver Line SL1  </h4>
				<span id='Silver Line SL1_trips' class='big'>{{ trips["Silver Line SL1"] }}</span>
				<h6> ({{ avg_num_trips["Silver Line SL1"] }}) </h6>
			</div>
			<div class='visible-xs-block'>&nbsp;</div>
		</div>
		<div class='col-lg-3 col-md-3 col-sm-3'>
			<div id='Silver Line SL2' class='col-lg-12 col-md-12 col-sm-12 col-xs-12 padded'>
				<div class='silver block'> </div>
				<h4> Silver Line SL2 </h4>
				<span id='Silver Line SL2_trips' class='big'>{{ trips["Silver Line SL2"] }}</span>
				<h6> ({{ avg_num_trips["Silver Line SL2"] }}) </h6>
			</div>
			<div class='visible-xs-block'>&nbsp;</div>
		</div>
		<div class='col-lg-3 col-md-3 col-sm-3'>
			<div id='Silver Line SL4' class='col-lg-12 col-md-12 col-sm-12 col-xs-12 padded'>
				<div class='silver block'> </div>
				<h4> Silver Line SL4 </h4>
				<span id='Silver Line SL4_trips' class='big'>{{ trips["Silver Line SL4"] }}</span>
				<h6> ({{ avg_num_trips["Silver Line SL4"] }}) </h6>
			</div>
			<div class='visible-xs-block'>&nbsp;</div>
		</div>
		<div class='col-lg-3 col-md-3 col-sm-3'>
			<div id='Silver Line SL5' class='col-lg-12 col-md-12 col-sm-12 col-xs-12 padded'>
				<div class='silver block'> </div>
				<h4> Silver Line SL5 </h4>
				<span id='Silver Line SL5_trips' class='big'>{{ trips["Silver Line SL5"] }}</span>
				<h6> ({{ avg_num_trips["Silver Line SL5"] }}) </h6>
			</div>
			<div class='visible-xs-block'>&nbsp;</div>
		</div>
	</div>

	<div class='spacer'></div>

	<div id='Silver Line SL1_reveal' class='plotly' style='display: none; width: 1080px; height: 400px;'> </div>

	<div id='Silver Line SL2_reveal' class='plotly' style='display: none; width: 1080px; height: 400px;'> </div>

	<div id='Silver Line SL4_reveal' class='plotly' style='display: none; width: 1080px; height: 400px;'> </div>

	<div id='Silver Line SL5_reveal' class='plotly' style='display: none; width: 1080px; height: 400px;'> </div>

</div>

<p><i>* Values in parentheses show the average number of trips for that route.</i></p>

<script>

// PLOTLY.JS (responsive)

(function() {

{% for key, value in avg_trip_times.iteritems() %}
var WIDTH_IN_PERCENT_OF_PARENT = 80,
    HEIGHT_IN_PERCENT_OF_PARENT = 80;
var gd3 = d3.select("div[id='{{key}}_reveal']")
    .style({
        width: WIDTH_IN_PERCENT_OF_PARENT + '%',
        'margin-left': (100 - WIDTH_IN_PERCENT_OF_PARENT) / 2 + '%',

        height: HEIGHT_IN_PERCENT_OF_PARENT + 'vh',
        'margin-top': (100 - HEIGHT_IN_PERCENT_OF_PARENT) / 2 + 'vh'
    });
var {{key|replace(" ", "_")}} = gd3.node();
var data = [
  {
    type: 'bar',
    x: {{ value['x']|safe }},
    y: {{ value['y']|safe }}
  },
];
var layout = { 
	paper_bgcolor: 'rgba(0,0,0,0)', 
	plot_bgcolor: 'rgba(0,0,0,0)', 
	title: "<b>Average trip duration for the {{key}} from start to finish</b>", 
	xaxis: { 
		tickformat: "%-I:%M %p",
		range: [1451646000000, 1451719800000], // utc-tz-adjustment
		fixedrange: true,
	}, 
	yaxis: { 
		tickformat: "%-M mins",
		range: [{{ range_min[ key ] }}, {{ range_max [ key ] }}],
		fixedrange: true,
	},
	margin: {
		pad: 2,
	},
};
$("div[id='{{key}}_reveal']").css("display", "block"); // must reveal div immediately before plotting
Plotly.plot({{key|replace(" ", "_")}}, data, layout, {showLink: false});
$("div[id='{{key}}_reveal']").hide(); // hide before user sees
{% endfor %}
{% for key, value in avg_trip_times.iteritems() %}
window.onresize = function() { Plotly.Plots.resize( {{key|replace(" ", "_")}} ); };
{% endfor %}
})();

// ANIMATIONS

$(document).ready(function() {
	{% for key, value in avg_trip_times.iteritems() %}
    $("div[id='{{key}}']").click(function() {
		// $(".plotly").not("#{{key}}_reveal").hide(speed=500);
		$("div[id='{{key}}_reveal']").toggle(speed=500);

    });
    {% endfor %}
});

// AJAX

function refresh() {
	$.ajax({
		url: "/request",
		success: function(data) {
			{% for key, value in avg_trip_times.iteritems() %}
			$("span[id='{{ key }}_trips']").html(data['{{ key }}']);
			{% endfor %}
		}
	});
};

$(document).ready(function ($) {
	refresh();
	var interval = setInterval("refresh()", 8000);
});

</script>

{% endblock %}