h3 {
	margin-top: 10%;
}

p {
	font-size: 1.5em;
}

.first.row {
	text-align: center;
}

.row {
	line-height: 25px;
}

.thirds {
	display:inline-block;
    float:none;
}

.col-lg-12 {
	padding: 5% 0;
	text-align: center;
	cursor: pointer;
}

.big {
	display: block;
	margin: 10% 0;
	font-weight: bold;
	font-size: 4em;
}

.block {
	height: 100%;
	width: 100%;
	position: absolute;
	border-radius: 7px;
}

.red {
	background-color: rgba(248, 0, 0, .3);
	border: 5px solid rgba(200, 0, 0, .1);
}

.orange {
	background-color: rgba(255, 153, 0, .3);
	border: 5px solid rgba(200, 0, 0, .1);
}

.blue {
	background-color: rgba(0, 0, 204, .3);
	border: 5px solid rgba(0, 0, 204, .1);
}

.green {
	background-color: rgba(0, 153, 0, .3);
	border: 5px solid rgba(0, 153, 0, .1);
}

.silver {
	background-color: rgba(80, 80, 80, .3);
	border: 5px solid rgba(80, 80, 80, .1);
}

.plotly {
	display: block;
	margin: 0px auto;
}