{% extends 'base.jinja' %}

{% block content %}

<h3><strong>About this project</strong></h3>

<div class='container-fluid'>

	<br />

	<center><img src="{{ static('images/t-logo.png') }}" style="width: 175px; height: 175px"></center>

	<div class="spacer"></div>

	<div class='col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1'>

		<p>Have you ever wondered, while waiting for the T, just how many trains were actually running? MBTA Live was designed to show in real-time the amount of active trains for each of the major MBTA lines in Boston, MA. MBTA Live also graphs a "typical" day for each route - how long did a trip take from start to finish? Ideally, these data can be used to see just how busy the T is, and when best to avoid it.</p>

		<p>MBTA Live is a Python-powered webapp. Try it on your phone too!</p>

		<p>You can learn more about the author <strong><a href="http://alexpetralia.com/" target="_blank">here</a></strong>.</p>

	</div>

	<div class="spacer"></div>

	

</div>

{% endblock %}